<div class="modal-body row">
  <div class="col-md-4">
<%= render "shared/greeting", user: @profile %>
  </div>
  <div class="col-md-4">
    <p><%= link_to 'Edit Profile', edit_user_registration_path%></p>
  </div>
  <div class="col-md-4">
    <%= render "shared/all_courses" %>
  </div>
</div>
<div class="modal-body row">
  <div class="col-md-6">
    <% if @profile.admin? || superuser?(@profile.id)  %>
      <h1>Courses managed by You</h1>
      <% @profile.super_courses.each  do |course|%>
        <p> Name of the course : <%=link_to course.name, course_path(course.id) %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%if can? :create, Course %>
      <%= link_to "Link to Add Course", new_course_path %>
      <h1>Course Created by You</h1>
      <% @profile.main_courses.each  do |course|%>
        <p>
          Name of the course : <%=link_to course.name, course_path(course.id) %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
<div>
  <br>
  <% if @profile.courses.empty? %>
    <p>You have not enrolled in course yet</p>
  <% else %>
    <h1>Courses,in which you are enrolled :<% @profile.courses.each do |c|%>    </h1>
      <p>Course Name => <%=link_to  c.name ,course_path(c.id)%></p>
      <p>Enrollment date => <%= l current_subscription(c.id).created_at, format: :custom %></p>
      <%if current_subscription(c.id).status == "completed" %>
        <p>Completed date =><%= l current_subscription(c.id).updated_at, format: :custom %></p>
        <p>Show status =>  Completed </p>
      <% else %>
        <p>Show status =>  In Progress </p>
      <% end %>
      <hr>
    <% end %>
  <% end %>
</div>
