<h1>Enter Course Details</h1>
<br>
<%= form_with  model: @course, url: { action: "create",controller: "courses" },method: :post do |f| %>
  <%= render "devise/shared/error_messages", resource:@course%>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :name, "Course name" %>
        <%= f.text_field :name ,placeholder: "Enter Your course name",  class: "form-control"%>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :superuser_id, value: current_user.id %>
      <div class="mb-3">
        <%= f.label :language, "Language" %>
        <%= f.text_field :language, placeholder: "Enter the programming langugae(like js ruby )",  class: "form-control"%>
      </div>
      <div class="mb-3">
        <%= f.label :cover, "Course Cover"%>
        <%= f.file_field :cover,class:"form-control"%>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  </div>
  <%# puts  params.inspect %>
<% end %>
