<h1>Welcome to Course</h1>
<% if current_user %>
  <p>Hello <%=current_user.email %></p>
  <%if current_user.role == 'admin'%>
    <%= link_to "Add Course", new_course_path %>
    <br>
  <% end %>
  <%= link_to "sign out", destroy_user_session_path, method: :delete %>
<%else  %>
  <p>You are not signed in </p>
  <p>Please Sign in</p>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<%end%>
<div class="mt-5">
  <h1>list of all the available course</h1>
  <hr>
  <% @courses.each do |course|%>
    <p> Name of the course : <%=link_to  course.name, course_path(course.id) %></p>
  <% end %>
</div>
<div>
</div>
