<p><%= link_to "My profile", root_path%> </p>
<p><%= link_to 'All Courses', courses_path%></p>
<h1>Course Content </h1>
<hr>
<h2>Course Name is <%=@course.name%></h2>
<h2>Course creator Name is <%=@course.creator%></h2>
<h2>Course language is <%=@course.language%></h2>
<hr>
<br>
<hr>
<h2>No of users who have completed the course: <%=@complete_count %></h2>
<hr>
<h2>No of Enrolled users: <%=@number_of_enrolled_count %></h2>
<hr>
<br>
<% if current_user.already_enrolled?(@course) %>
  <h1>Your are now enrolled in this  <%= link_to @course.name,course_path(@course.id)%> course</h1>
  <% current_user.user_courses.each do |course| %>
    <% if current_user.id == course.user_id && @course.id == course.course_id%>
      <h1>Here is your progress status: <%=course.status %></h1>
      <% if course.status == "inprogress" %>
        <%= button_to "Mark as Complete", mark_as_course_path , method: :patch %>
      <%else %>
        <%= button_to "Mark as In Progress", mark_as_course_path , method: :patch %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= button_to "Click Me(Enroll)",enroll_course_path%>
<% end %>
<%if current_user.role == 'admin' && @course.creator_id == current_user.id %>
  <%= button_to "delete this course", course_path(@course), method: :delete%>
<% end %>
