<p><%= link_to "My profile", profile_path(current_user)%> </p>
<p><%= link_to 'All Courses', courses_path%></p>
<h1>Course Content </h1>
<hr>
<%# binding.pry %>
<% if @course.cover.attached? %>
  <%= image_tag @course.cover  , size: "1080x720"%>
<% else %>
  <%=image_tag  'https://waifu.vercel.app/sfw/random' %>
<% end %>
<hr>
<h4>Course Name is <%=@course.name%></h4>
<h4>Course creator Name is <%= @course.admin_user.name%></h4>
<h4>Course language is <%=@course.language%></h4>
<hr>
<br>
<hr>
<h4>No of users who have completed the course: <%=@complete_count %></h4>
<hr>
<h4>No of Enrolled users: <%=@number_of_enrolled_count %></h4>
<hr>
<br>
<% if current_user.already_enrolled?(@course) %>
  <h1>Your are now enrolled in this  <%= @course.name%> course</h1>
  <% current_user.user_courses.each do |course| %>
    <% if current_user.id == course.user_id && @course.id == course.course_id%>
      <h1>Here is your progress status: <%= course.status=="completed" ? "Completed":"In Progress"%></h1>
      <% if course.status == "inprogress" %>
        <%= button_to "Mark as Complete", mark_as_course_path , method: :patch %>
      <% end %>
    <% end %>  <% end %>
<% else %>
  <%= button_to "Click Me(Enroll)",enroll_course_path%>
<% end %>
<%if current_user.admin? && @course.user_id == current_user.id %>
  <%= link_to "Edit this course", edit_course_path(@course)%>
  <%= button_to "delete this course", course_path(@course), method: :delete%>
<% end %>
