<div class="modal-body row">
  <div class="col-md-6">
    <p><%= link_to "My profile", profile_path(current_user)%> </p>
    <hr>
    <h3>Course Content </h3>
    <% if @course.cover.attached? %>
      <%= image_tag @course.cover  , size: "260x180"%>
    <% else %>
      <%#image_tag  'https://waifu.vercel.app/sfw/highfive' , size: "320x260" %>
      <%= image_tag 'https://picsum.photos/seed/picsum/200/300' %>
    <% end %>
    <%= render 'shared/course_details', course: @course %>
  </div>
  <div class="col-md-6">
    <p><%= link_to 'All Courses', courses_path%></p>
    <hr>
    <h4>No of users who have completed the course: <%=@complete_count %></h4>
    <h4>No of Enrolled users: <%=@number_of_enrolled_count %></h4>
    <h3>Course is maintined by:</h3>
    <p><%=@course.superuser.email %></p>
    <%= render 'shared/controls', course: @course  %>
  </div>
</div>
